body {
  margin : 0px;
  font-family: arial, sans-serif;
  background-color: #b5a6a6;
}

form {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

div {
  text-align: center;
  background-color: #fff;
  height: 100px; 
  padding: 75px;
  width: 700px ;
  margin-left: auto;
  margin-right: auto;
}